.save-item{
    background-color: #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    min-height: 150px;
    max-height: 300px;
    width: 32.1%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: column;
    margin-right: 6px;
}

.save-data {
    color: #000 !important;
    margin-bottom: 10px;
    width: 70%;
    overflow: hidden;
}

.save-wrap{
    width: 100%;
}

.save-indicator-false{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color:tomato;
}

.save-indicator-true{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color:#38B456;
}

.save-item div {
    display: flex;
    justify-content: space-between;
}

.btn-secondary-save{
    height: 30px;
}